.container {
  margin: 0 auto;
}

.container_small {
  width: 1000px;
}

.container_midle {
  width: 1052px;
}

.container_big {
  width: 1100px;
}

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 92px;
  padding-bottom: 96px;
  align-items: center;
}

.menu {
  list-style: circle;
  padding: 0;
  display: flex;
  gap: 32px;
}

.menu-main {
  list-style: none;
}

address {
  font-style: normal;
  justify-self: end;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header .logo {
  width: 148px;
  height: 105px;
}

ul {
  list-style-type: none;
 }

a {
  color: black;
}

main {
  display: grid;
}

.cover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  height: 385px;
  width: 1000px;
  margin-top: 165px;
  margin-left: 50px;
  margin-right: 50px;
  font-style: bold;
  font-size: 100px;
  text-indent: -20px;
  color: white;
  text-align: left;
  font-family: Raleway, Arial, sans-serif;
  letter-spacing: 25px;
}

h1 span {
  display: flex;
  margin-right: 50px;
  }

.word_beginning {
  justify-content: flex-start;
}

.word_center {
  justify-content: center;
}

.word_end {
  justify-content: flex-end;
}

.description {
  display: flex;
  justify-content: space-between;
  margin-top: 126px;
  margin-bottom: 50px;
  border: 1px;
  border-color: antiquewhite;
  color: white;
  font-size: 26px;
  text-transform: uppercase;
  padding-left: 50px;
  font-family: Raleway, Arial, sans-serif;
  }
  
.button {
  width: 256px;
  height: 51px;
  font-size: 26px;
  text-transform: uppercase;
  color: white;
  background-color: rgba(255, 255, 255, 0); border-color: antiquewhite;outline: none;
}

.lots {
  display: grid;
  column-gap: 25px;
  margin-top: 180px;
} 

.lot-list {
  display: flex;
  justify-content: space-between;
}

.lot-list div {
  font-family: Raleway, Arial, sans-serif;
}

.cards {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  color: white;
}

.card-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/card-lot-01.jpg");
}

.card-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/card-lot-02.jpg");
}

.card-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/card-lot-03.jpg");
}

.lot-list img {
  width: 334px;
  height: 596px;
  object-fit: cover;
}

.lot-list article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 596px;
}

.lots h2 {
  padding-left: 40px;
  margin-left: 40px;
  margin-bottom: 27px;
}

h2 {
  font-size: 40px;
}

h3 {
  text-decoration: underline;
  margin-top: 48px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 22px;
}

article p {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  font-size: 20px;
}

.see-more {
  margin-left: 40px;
  border-radius: 1px;
  padding-left: 40px;
  margin-top: 27px;
}

.about {
  margin-top: 120px;
  margin-bottom: 80px;
  font-family: 'Raleway', sans-serif;
}

.column {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.column div div {
  display: flex;
}

.column h2 {
  margin-top: 133px;
}

.column p {
  font-size: 20px;
  min-width: 693px;
}

.colomn a {
  display: block;
}

.background-logo {
  display: flex;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  margin-right: 47px;
  background-color: black;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.column .logo {
  width: 148px;
  height: 114px;
}

footer {
  display: flex;
  justify-content: space-between;
  height: 180px;
  margin-top: 80px;
}

.menu-list {
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 48px;
  margin-top: 1px;
  gap: 48px;
}